In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

pd.set_option('max_rows', 35)
pd.set_option('max_columns', 15)
pd.set_option('display.precision', 2)
pd.set_option('display.width', 320)

In [2]:
data = pd.read_csv('movie_bd_v5.xls')

In [3]:
data.describe()

         budget   revenue  runtime  vote_average  release_year
count  1.89e+03  1.89e+03  1889.00       1889.00       1889.00
mean   5.43e+07  1.55e+08   109.66          6.14       2007.86
std    4.86e+07  2.15e+08    18.02          0.76          4.47
min    5.00e+06  2.03e+06    63.00          3.30       2000.00
25%    2.00e+07  3.46e+07    97.00          5.60       2004.00
50%    3.80e+07  8.36e+07   107.00          6.10       2008.00
75%    7.20e+07  1.78e+08   120.00          6.60       2012.00
max    3.80e+08  2.78e+09   214.00          8.10       2015.00

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#temper_convertor = lambda x: x.replace('°C', '').strip()
#df['Температура'] = df['Температура'].apply(temper_convertor).astype('float64')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
bb = data['budget'].idxmax()
print(data.iloc[bb])

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
tt_max = data['runtime'].idxmax()
print(data.iloc[tt_max])

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [11]:
tt_min = data['runtime'].idxmin()
print(data.iloc[tt_min])

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = 110

In [13]:
data.runtime.describe()['mean']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = 107

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)'

In [17]:
cols = ['imdb_id', 'budget', 'revenue', 'profit', 'original_title', 'cast', 'director', 'tagline', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_average', 'release_year']

data['profit'] = data['revenue'] - data['budget']

movies_df = data[cols]
print(movies_df.sort_values(by = ['profit'], ascending=False))

        imdb_id     budget     revenue      profit                original_title                                               cast               director                         tagline                                           overview  runtime                                     genres  \
239   tt0499549  237000000  2781505847  2544505847                        Avatar  Sam Worthington|Zoe Saldana|Sigourney Weaver|S...          James Cameron     Enter the World of Pandora.  In the 22nd century, a paraplegic Marine is di...      162   Action|Adventure|Fantasy|Science Fiction
3     tt2488496  200000000  2068178225  1868178225  Star Wars: The Force Awakens  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...            J.J. Abrams   Every generation has a story.  Thirty years after defeating the Galactic Empi...      136   Action|Adventure|Science Fiction|Fantasy
0     tt0369610  150000000  1513528810  1363528810                Jurassic World  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...        Colin Trevorrow               The park is open.  Twenty-two years after the events of Jurassic ...      124  Action|Adventure|Science Fiction|Thriller
4     tt2820852  190000000  1506249360  1316249360                     Furious 7  Vin Diesel|Paul Walker|Jason Statham|Michelle ...              James Wan             Vengeance Hits Home  Deckard Shaw seeks revenge against Dominic Tor...      137                      Action|Crime|Thriller
970   tt0848228  220000000  1519557910  1299557910                  The Avengers  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...            Joss Whedon         Some assembly required.  When an unexpected enemy emerges and threatens...      143           Science Fiction|Action|Adventure
...         ...        ...         ...         ...                           ...                                                ...                    ...                             ...                                                ...      ...                                        ...
1464  tt0424095  149000000    64459316   -84540684                  Flushed Away  Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...  David Bowers|Sam Fell            Someone's Going Down  London high-society mouse, Roddy is flushed do...       85          Adventure|Animation|Comedy|Family
958   tt0180052  100000000     7103973   -92896027  The Adventures of Pluto Nash  Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...          Ron Underwood  Action's future has arrived...  The year is 2087, the setting is the moon. Edd...       95              Action|Comedy|Science Fiction
809   tt1305591  150000000    38992758  -111007242               Mars Needs Moms  Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...            Simon Wells       Mom needs a little space.  When Martians suddenly abduct his mom, mischie...       88                 Adventure|Animation|Family
1616  tt0318974  145000000    25819961  -119180039                     The Alamo  Dennis Quaid|Billy Bob Thornton|Jason Patric|P...       John Lee Hancock           You will never forget  Based on the 1836 standoff between a group of ...      137                        Western|History|War
1245  tt1210819  255000000    89289910  -165710090               The Lone Ranger  Johnny Depp|Armie Hammer|William Fichtner|Hele...         Gore Verbinski         Never Take Off the Mask  The Texas Rangers chase down a gang of outlaws...      149                   Action|Adventure|Western

                                   production_companies release_date  vote_average  release_year
239   Ingenious Film Partners|Twentieth Century Fox ...   12/10/2009           7.1          2009
3             Lucasfilm|Truenorth Productions|Bad Robot   12/15/2015           7.5          2015
0     Universal Studios|Amblin Entertainment|Legenda...     6/9/2015           6.5          2015
4     Universal Pictures|Original Film|Media Rights ...     4/1/2015           7.3          2015
970                                      Marvel Studios    4/25/2012           7.3          2012
...                                                 ...          ...           ...           ...
1464            Aardman Animations|DreamWorks Animation   10/22/2006           6.0          2006
958   Village Roadshow Pictures|Castle Rock Entertai...    8/15/2002           4.6          2002
809                       Walt Disney Animation Studios     3/9/2011           5.5          2011
1616          Imagine Entertainment|Touchstone Pictures     4/7/2004           5.9          2004
1245  Walt Disney Pictures|Jerry Bruckheimer Films|I...     7/3/2013           6.0          2013

[1889 rows x 15 columns]

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [19]:
print(movies_df.sort_values(by = ['profit'], ascending=False))

        imdb_id     budget     revenue      profit                original_title                                               cast               director                         tagline                                           overview  runtime                                     genres  \
239   tt0499549  237000000  2781505847  2544505847                        Avatar  Sam Worthington|Zoe Saldana|Sigourney Weaver|S...          James Cameron     Enter the World of Pandora.  In the 22nd century, a paraplegic Marine is di...      162   Action|Adventure|Fantasy|Science Fiction
3     tt2488496  200000000  2068178225  1868178225  Star Wars: The Force Awakens  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...            J.J. Abrams   Every generation has a story.  Thirty years after defeating the Galactic Empi...      136   Action|Adventure|Science Fiction|Fantasy
0     tt0369610  150000000  1513528810  1363528810                Jurassic World  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...        Colin Trevorrow               The park is open.  Twenty-two years after the events of Jurassic ...      124  Action|Adventure|Science Fiction|Thriller
4     tt2820852  190000000  1506249360  1316249360                     Furious 7  Vin Diesel|Paul Walker|Jason Statham|Michelle ...              James Wan             Vengeance Hits Home  Deckard Shaw seeks revenge against Dominic Tor...      137                      Action|Crime|Thriller
970   tt0848228  220000000  1519557910  1299557910                  The Avengers  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...            Joss Whedon         Some assembly required.  When an unexpected enemy emerges and threatens...      143           Science Fiction|Action|Adventure
...         ...        ...         ...         ...                           ...                                                ...                    ...                             ...                                                ...      ...                                        ...
1464  tt0424095  149000000    64459316   -84540684                  Flushed Away  Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...  David Bowers|Sam Fell            Someone's Going Down  London high-society mouse, Roddy is flushed do...       85          Adventure|Animation|Comedy|Family
958   tt0180052  100000000     7103973   -92896027  The Adventures of Pluto Nash  Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...          Ron Underwood  Action's future has arrived...  The year is 2087, the setting is the moon. Edd...       95              Action|Comedy|Science Fiction
809   tt1305591  150000000    38992758  -111007242               Mars Needs Moms  Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...            Simon Wells       Mom needs a little space.  When Martians suddenly abduct his mom, mischie...       88                 Adventure|Animation|Family
1616  tt0318974  145000000    25819961  -119180039                     The Alamo  Dennis Quaid|Billy Bob Thornton|Jason Patric|P...       John Lee Hancock           You will never forget  Based on the 1836 standoff between a group of ...      137                        Western|History|War
1245  tt1210819  255000000    89289910  -165710090               The Lone Ranger  Johnny Depp|Armie Hammer|William Fichtner|Hele...         Gore Verbinski         Never Take Off the Mask  The Texas Rangers chase down a gang of outlaws...      149                   Action|Adventure|Western

                                   production_companies release_date  vote_average  release_year
239   Ingenious Film Partners|Twentieth Century Fox ...   12/10/2009           7.1          2009
3             Lucasfilm|Truenorth Productions|Bad Robot   12/15/2015           7.5          2015
0     Universal Studios|Amblin Entertainment|Legenda...     6/9/2015           6.5          2015
4     Universal Pictures|Original Film|Media Rights ...     4/1/2015           7.3          2015
970                                      Marvel Studios    4/25/2012           7.3          2012
...                                                 ...          ...           ...           ...
1464            Aardman Animations|DreamWorks Animation   10/22/2006           6.0          2006
958   Village Roadshow Pictures|Castle Rock Entertai...    8/15/2002           4.6          2002
809                       Walt Disney Animation Studios     3/9/2011           5.5          2011
1616          Imagine Entertainment|Touchstone Pictures     4/7/2004           5.9          2004
1245  Walt Disney Pictures|Jerry Bruckheimer Films|I...     7/3/2013           6.0          2013

[1889 rows x 15 columns]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = 1478

In [21]:
print(movies_df[movies_df['revenue'] > movies_df['budget']])

        imdb_id     budget     revenue      profit                original_title                                               cast               director                                            tagline                                           overview  runtime                                     genres  \
0     tt0369610  150000000  1513528810  1363528810                Jurassic World  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...        Colin Trevorrow                                  The park is open.  Twenty-two years after the events of Jurassic ...      124  Action|Adventure|Science Fiction|Thriller
1     tt1392190  150000000   378436354   228436354            Mad Max: Fury Road  Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...          George Miller                                 What a Lovely Day.  An apocalyptic story set in the furthest reach...      120  Action|Adventure|Science Fiction|Thriller
2     tt2908446  110000000   295238201   185238201                     Insurgent  Shailene Woodley|Theo James|Kate Winslet|Ansel...       Robert Schwentke                         One Choice Can Destroy You  Beatrice Prior must confront her inner demons ...      119         Adventure|Science Fiction|Thriller
3     tt2488496  200000000  2068178225  1868178225  Star Wars: The Force Awakens  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...            J.J. Abrams                      Every generation has a story.  Thirty years after defeating the Galactic Empi...      136   Action|Adventure|Science Fiction|Fantasy
4     tt2820852  190000000  1506249360  1316249360                     Furious 7  Vin Diesel|Paul Walker|Jason Statham|Michelle ...              James Wan                                Vengeance Hits Home  Deckard Shaw seeks revenge against Dominic Tor...      137                      Action|Crime|Thriller
...         ...        ...         ...         ...                           ...                                                ...                    ...                                                ...                                                ...      ...                                        ...
1871  tt0171433   30000000    37036004     7036004             Keeping the Faith  Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...          Edward Norton  If you have to believe in something, you may a...  Best friends since they were kids, Rabbi Jacob...      127                                     Comedy
1875  tt0219854   65000000    69700000     4700000                       The Kid  Bruce Willis|Spencer Breslin|Emily Mortimer|Li...         Jon Turteltaub     Nobody ever grows up quite like they imagined.  Powerful businessman Russ Duritz is self-absor...      104                      Fantasy|Comedy|Family
1877  tt0199725   20000000    27728118     7728118             Love & Basketball  Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...  Gina Prince-Bythewood                 All's fair in love and basketball.  A young African-American couple navigates the ...      124                Action|Comedy|Drama|Romance
1883  tt0122459   24000000    36609995    12609995                  Return to Me  David Duchovny|Minnie Driver|Carroll O'Connor|...            Bonnie Hunt                   A comedy straight from the heart  It took a lot of cajoling to get Bob (Duchovny...      115                       Romance|Comedy|Drama
1884  tt0120903   75000000   157299717    82299717                         X-Men  Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...           Bryan Singer                                   Evolution Begins  Two mutants, Rogue and Wolverine, come to a pr...      104           Adventure|Action|Science Fiction

                                   production_companies release_date  vote_average  release_year
0     Universal Studios|Amblin Entertainment|Legenda...     6/9/2015           6.5          2015
1     Village Roadshow Pictures|Kennedy Miller Produ...    5/13/2015           7.1          2015
2     Summit Entertainment|Mandeville Films|Red Wago...    3/18/2015           6.3          2015
3             Lucasfilm|Truenorth Productions|Bad Robot   12/15/2015           7.5          2015
4     Universal Pictures|Original Film|Media Rights ...     4/1/2015           7.3          2015
...                                                 ...          ...           ...           ...
1871  Spyglass Entertainment|Touchstone Pictures|Tri...    4/14/2000           5.7          2000
1875                               Walt Disney Pictures     7/7/2000           5.9          2000
1877                        40 Acres & A Mule Filmworks    4/21/2000           7.3          2000
1883          Metro-Goldwyn-Mayer (MGM)|JLT Productions     4/7/2000           5.5          2000
1884  Twentieth Century Fox Film Corporation|Donners...    7/13/2000           6.6          2000

[1478 rows x 15 columns]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [23]:
print(movies_df[movies_df['release_year'] == 2008],['profit'])

       imdb_id     budget     revenue     profit                                     original_title                                               cast                      director                                            tagline                                           overview  runtime  \
599  tt0468569  185000000  1001921825  816921825                                    The Dark Knight  Christian Bale|Michael Caine|Heath Ledger|Aaro...             Christopher Nolan                                    Why So Serious?  Batman raises the stakes in his war on crime. ...      152
600  tt0910970  180000000   521311860  341311860                                            WALLÂ·E  Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...                Andrew Stanton                 An adventure beyond the ordinar-E.  WALLÂ·E is the last robot left on an Earth tha...       98
601  tt0371746  140000000   585174222  445174222                                           Iron Man  Robert Downey Jr.|Terrence Howard|Jeff Bridges...                   Jon Favreau                 Heroes aren't born. They're built.  After being held captive in an Afghan cave, bi...      126
602  tt0936501   25000000   226830568  201830568                                              Taken  Liam Neeson|Famke Janssen|Maggie Grace|Katie C...                  Pierre Morel   They took his daughter.  He'll take their lives.  While vacationing with a friend in Paris, an A...       93
603  tt0367882  185000000   786636033  601636033  Indiana Jones and the Kingdom of the Crystal S...  Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...              Steven Spielberg                      The adventure continues . . .  Set during the Cold War, the Soviets â€“ led b...      122
..         ...        ...         ...        ...                                                ...                                                ...                           ...                                                ...                                                ...      ...
715  tt0858479    7000000    10569964    3569964                                       Smart People  Dennis Quaid|Sarah Jessica Parker|Ellen Page|T...                    Noam Murro  Sometimes the smartest people have the most to...  Professor Lawrence Wetherhold (Dennis Quaid) m...       95
716  tt0410377   37000000   100076342   63076342                                       Nim's Island  Abigail Breslin|Jodie Foster|Gerard Butler|Mic...  Jennifer Flackett|Mark Levin                        Your adventure starts here.  A young girl inhabits an isolated island with ...       96
717  tt0465502   25000000    30000000    5000000                                               Igor  John Cusack|Myleene Klass|Robin Walsh|Matt McK...               Anthony Leondis                       All men aren't created Evil.  Animated fable about a clichÃ© hunchbacked evi...       87
718  tt0455538   27000000    17286299   -9713701              How to Lose Friends & Alienate People  Kelan Pannell|Janette Scott|Simon Pegg|Megan F...               Robert B. Weide        He's across the pond, and out of his depth.  A British writer struggles to fit in at a high...      110
719  tt0494652   35000000    43650785    8650785                        Welcome Home Roscoe Jenkins  Martin Lawrence|James Earl Jones|Margaret Aver...                Malcolm D. Lee  Roscoe Jenkins aims for the heartstrings and f...  Martin Lawrence leads an all-star cast, includ...      114

                               genres                               production_companies release_date  vote_average  release_year
599       Drama|Action|Crime|Thriller  DC Comics|Legendary Pictures|Warner Bros.|Syncopy    7/16/2008           8.1          2008
600                  Animation|Family       Walt Disney Pictures|Pixar Animation Studios    6/22/2008           7.6          2008
601  Action|Science Fiction|Adventure                                     Marvel Studios    4/30/2008           7.3          2008
602             Action|Thriller|Crime  Twentieth Century Fox Film Corporation|M6 Film...    2/18/2008           7.2          2008
603                  Adventure|Action                       Lucasfilm|Paramount Pictures    5/21/2008           5.6          2008
..                                ...                                                ...          ...           ...           ...
715              Comedy|Drama|Romance  Miramax Films|Sherazade Film Development|Groun...    4/11/2008           5.5          2008
716   Adventure|Comedy|Family|Fantasy                                       Walden Media     4/3/2008           5.5          2008
717   Animation|Comedy|Family|Fantasy               Exodus Film Group|Exodus Productions    9/19/2008           5.4          2008
718              Comedy|Romance|Drama  UK Film Council|Intandem Films|Aramid Entertai...    10/2/2008           6.0          2008
719                      Comedy|Drama          Universal Pictures|Spyglass Entertainment     2/8/2008           6.1          2008

[121 rows x 15 columns] ['profit']

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [25]:
bb = movies_df[(movies_df['release_year'] > 2012)&(movies_df['release_year'] <= 2014)].profit.idxmin()
print(movies_df.iloc[bb])

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
profit                                                         -165710090
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Comedy'

In [27]:
print(movies_df['genres'].value_counts())

Comedy                                   141
Drama                                    102
Comedy|Romance                            60
Drama|Romance                             45
Comedy|Drama|Romance                      35
                                        ...
Thriller|Science Fiction|Drama             1
Adventure|Drama|Science Fiction            1
Comedy|Crime|Action                        1
Science Fiction|Comedy|Family|Romance      1
Comedy|Family|Fantasy|Science Fiction      1
Name: genres, Length: 652, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Action'

In [29]:
print(movies_df.groupby(['genres', 'budget']).size().head())

genres  budget
Action  28000000    1
        29000000    1
        35000000    1
        38000000    1
        40000000    2
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
answers['13'] = 'James Cameron'

In [31]:
print(movies_df.groupby(['director', 'revenue']).size().to_frame('size').sort_values(['revenue', 'size'], ascending=[True, False]))

                             size
director         revenue
Simon Hunter     2033165        1
Keanu Reeves     2054941        1
Paul Schrader    2062066        1
Simon West       2106557        1
Steven Shainberg 2281089        1
...                           ...
James Wan        1506249360     1
Colin Trevorrow  1513528810     1
Joss Whedon      1519557910     1
J.J. Abrams      2068178225     1
James Cameron    2781505847     1

[1889 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 0

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = 0

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [34]:
answers['16'] = 0

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [36]:

answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [38]:
answers['18'] = 'The Love Guru (tt0811138) неверно'

In [39]:
filter_n1 = movies_df['production_companies'] == 'Paramount Pictures'
print(movies_df.sort_values(by = ['profit'], ascending=False).loc[filter_n1])

        imdb_id    budget    revenue     profit                original_title                                               cast           director                                            tagline                                           overview  runtime                                     genres  \
335   tt1193138  25000000  163670000  138670000                 Up in the Air  George Clooney|Vera Farmiga|Anna Kendrick|Jaso...      Jason Reitman     The story of a man ready to make a connection.  George Clooney plays the dry cynical character...      109                              Drama|Romance
1117  tt0251127  50000000  177371441  127371441  How to Lose a Guy in 10 Days  Kate Hudson|Matthew McConaughey|Kathryn Hahn|A...      Donald Petrie             One of them is lying. So is the other.  An advice columnist, Andie Anderson (Kate Huds...      116                             Comedy|Romance
1026  tt1645170  65000000  179379533  114379533                  The Dictator  Sacha Baron Cohen|Sayed Badreya|Aasif Mandvi|M...      Larry Charles                                               kurd  The heroic story of a dictator who risks his l...       83                                     Comedy
1571  tt0377092  17000000  129042871  112042871                    Mean Girls  Lindsay Lohan|Rachel McAdams|Tim Meadows|Ana G...        Mark Waters                             Welcome to girl world.  Cady Heron is a hit with The Plastics, the A-l...       97                                     Comedy
1104  tt0332379  35000000  131282949   96282949            The School of Rock  Jack Black|Joan Cusack|Mike White|Sarah Silver...  Richard Linklater     He just landed the gig of his life: 5th grade.  Fired from his band and hard up for cash, guit...      108                               Comedy|Music
1518  tt0493430  11000000   72778712   61778712            Jackass Number Two  Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...      Jeff Tremaine                    Guess who just made number two?  Jackass Number Two is a compilation of various...       95                  Action|Comedy|Documentary
911   tt0322802   5000000   64282312   59282312            Jackass: The Movie  Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...      Jeff Tremaine                       Do not attempt this at home.  Johnny Knoxville and his crazy friends appear ...       87                                     Comedy
924   tt0264472  45000000   94935764   49935764                Changing Lanes  Ben Affleck|Samuel L. Jackson|Kim Staunton|Ton...      Roger Michell  An ambitious lawyer, a desperate father, they ...  A rush-hour fender-bender on New York City's c...       89            Action|Adventure|Crime|Thriller
896   tt0253754  60000000   67312826    7312826            Star Trek: Nemesis  Patrick Stewart|Jonathan Frakes|LeVar Burton|B...       Stuart Baird            A generation's final journey... begins.  En route to the honeymoon of William Riker to ...      117  Science Fiction|Action|Adventure|Thriller
1429  tt0408524  30000000   34252847    4252847                Bad News Bears  Billy Bob Thornton|Ken Medlock|Aman Johal|Greg...  Richard Linklater           The bases are loaded... so is the coach.  Morris Buttermaker is a burned-out minor leagu...      113                              Comedy|Family
1533  tt0408985  45000000   38399961   -6600039                  Last Holiday  Queen Latifah|LL Cool J|Timothy Hutton|Giancar...         Wayne Wang  She always thought she was somebody special......  After she's diagnosed with a terminal illness,...      112                     Adventure|Comedy|Drama
961   tt0261289  29000000   16930185  -12069815                  Serving Sara  Matthew Perry|Elizabeth Hurley|Vincent Pastore...    Reginald Hudlin  The One Thing That Could Bring Them Together I...  Serving Sara is a 2002 romantic comedy film wh...      100                             Comedy|Romance
436   tt0964517  25000000    9190869  -15809131                   The Fighter  Mark Wahlberg|Christian Bale|Amy Adams|Melissa...   David O. Russell            Every dream deserves a fighting chance.  The Fighter, is a drama about boxer "Irish" Mi...      116                                      Drama
587   tt0249478  75000000   54249294  -20750706          Domestic Disturbance  John Travolta|Vince Vaughn|Teri Polo|Matt O'Le...      Harold Becker         He will do anything to protect his family.  A divorced father discovers that his 12-year-o...       89                     Mystery|Thriller|Crime

     production_companies release_date  vote_average  release_year
335    Paramount Pictures     9/5/2009           6.6          2009
1117   Paramount Pictures     2/7/2003           6.2          2003
1026   Paramount Pictures    5/15/2012           5.9          2012
1571   Paramount Pictures    4/30/2004           6.8          2004
1104   Paramount Pictures    10/3/2003           6.6          2003
1518   Paramount Pictures    9/22/2006           6.4          2006
911    Paramount Pictures   10/21/2002           6.2          2002
924    Paramount Pictures     4/7/2002           5.7          2002
896    Paramount Pictures   12/12/2002           6.1          2002
1429   Paramount Pictures    7/22/2005           5.5          2005
1533   Paramount Pictures    1/13/2006           6.4          2006
961    Paramount Pictures    8/20/2002           5.1          2002
436    Paramount Pictures   12/17/2010           7.1          2010
587    Paramount Pictures   10/30/2001           5.4          2001

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [40]:
answers['19'] = 2015

In [41]:
print(movies_df.groupby('release_year')['profit'].sum())

release_year
2000     6101399805
2001     7950614865
2002     9002361487
2003     9228823312
2004     9634180720
2005     8981925558
2006     8691077320
2007    11565911801
2008    11663881990
2009    13423744372
2010    13531204961
2011    14730241341
2012    16077001687
2013    15243179791
2014    16397812953
2015    18668572378
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
answers['20'] = 2014

In [43]:
filter_n1 = movies_df.production_companies.isin(['Warner Bros.'])
print(movies_df.sort_values(by = ['profit'], ascending=False).loc[filter_n1])

        imdb_id    budget    revenue    profit        original_title                                               cast                  director                                      tagline                                           overview  runtime                                 genres production_companies  \
731   tt1570728  50000000  142851197  92851197  Crazy, Stupid, Love.  Steve Carell|Julianne Moore|Ryan Gosling|Emma ...  Glenn Ficarra|John Requa                               This Is Stupid  Cal Weaver is living the American dream. He ha...      118                   Comedy|Drama|Romance         Warner Bros.
1282  tt0453562  40000000   95020213  55020213                    42  Chadwick Boseman|T.R. Knight|Harrison Ford|Nic...           Brian Helgeland         The True Story Of An American Legend  The powerful story of Jackie Robinson, the leg...      128                                  Drama         Warner Bros.
453   tt1385867  30000000   55583804  25583804               Cop Out  Bruce Willis|Tracy Morgan|Juan Carlos HernÃ¡nd...               Kevin Smith                 Rock out with your Glock out  Officers Jimmy Monroe and Paul Hodges have the...      107                    Action|Comedy|Crime         Warner Bros.
834   tt1334512  40000000   45735397   5735397                Arthur  Russell Brand|Helen Mirren|Greta Gerwig|Jennif...               Jason Winer  Meet the world's only loveable billionaire.  A drunken playboy stands to lose a wealthy inh...      110                         Comedy|Romance         Warner Bros.
438   tt1075747  47000000   10539000 -36461000             Jonah Hex  Josh Brolin|John Malkovich|Megan Fox|Michael F...             Jimmy Hayward                           Revenge gets ugly.  Gunsliger Jonah Hex (Josh Brolin) is appointed...       80  Action|Western|Drama|Fantasy|Thriller         Warner Bros.

     release_date  vote_average  release_year
731     7/29/2011           6.9          2011
1282    4/12/2013           6.8          2013
453     2/26/2010           5.5          2010
834      4/8/2011           5.3          2011
438     6/18/2010           4.4          2010

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [44]:
answers['21'] = 'Сентябрь верно'

In [45]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month

print(data.month[(data.month == 1)].count())
print(data.month[(data.month == 2)].count())
print(data.month[(data.month == 3)].count())
print(data.month[(data.month == 4)].count())
print(data.month[(data.month == 5)].count())
print(data.month[(data.month == 6)].count())
print(data.month[(data.month == 7)].count())
print(data.month[(data.month == 8)].count())
print(data.month[(data.month == 9)].count())
print(data.month[(data.month == 10)].count())
print(data.month[(data.month == 11)].count())
print(data.month[(data.month == 12)].count())

110
135
156
149
140
147
142
161
227
186
146
190

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
answers['22'] = 450

In [47]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month

print(data.month[(data.month == 6)].count() + data.month[(data.month == 7)].count() + data.month[(data.month == 8)].count())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'

In [48]:
movies_df.release_date = pd.to_datetime(movies_df['release_date'])
mm = movies_df['release_date'].dt.month
print(movies_df.groupby(['director', mm]).size().to_frame('size').sort_values(['director', 'size'], ascending=[True, False]).idxmax())

size    (Peter Jackson, 12)
dtype: object

/home/admin1/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
answers['24'] = 'Warner Bros'

In [49]:
orig_title = movies_df['original_title'].tolist()

len_orig_title = []
for i in orig_title:
    ll = len(i)
    len_orig_title.append(ll)

df = pd.DataFrame(len_orig_title, columns =['len_orig_title'])
movies_df = pd.concat([movies_df, df], axis=1)
print(movies_df.sort_values('len_orig_title', ascending=False))

        imdb_id     budget    revenue     profit                                     original_title                                               cast          director  ... runtime                                             genres                               production_companies release_date vote_average  \
1448  tt0443453   18000000  261572744  243572744  Borat: Cultural Learnings of America for Make ...  Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...     Larry Charles  ...      82                                             Comedy  Twentieth Century Fox Film Corporation|Four By...   2006-11-02          6.4
1314  tt0363771  180000000  748806957  568806957  The Chronicles of Narnia: The Lion, the Witch ...  William Moseley|Anna Popplewell|Skandar Keynes...    Andrew Adamson  ...     143                           Adventure|Family|Fantasy                           Walt Disney|Walden Media   2005-12-07          6.5
219   tt1698641   28000000  100654149   72654149  Alexander and the Terrible, Horrible, No Good,...  Steve Carell|Jennifer Garner|Ed Oxenbould|Dyla...     Miguel Arteta  ...      81                                      Family|Comedy  Walt Disney Pictures|21 Laps Entertainment|Jim...   2014-10-08          6.2
1751  tt0443680   30000000   14711793  -15288207  The Assassination of Jesse James by the Coward...  Brad Pitt|Casey Affleck|Sam Shepard|Mary-Louis...    Andrew Dominik  ...     160                               Action|Drama|Western  Plan B Entertainment|Virtual Studios|Scott Fre...   2007-09-02          6.9
385   tt0980970  155000000  415686217  260686217  The Chronicles of Narnia: The Voyage of the Da...  Skandar Keynes|Georgie Henley|Simon Pegg|Gary ...     Michael Apted  ...     113                           Adventure|Family|Fantasy  Dune Entertainment|Fox 2000 Pictures|Walden Media   2010-08-13          6.0
...         ...        ...        ...        ...                                                ...                                                ...               ...  ...     ...                                                ...                                                ...          ...          ...
1483  tt0449089   50000000   87528173   37528173                                                 RV  Robin Williams|Cheryl Hines|Joanna 'JoJo' Leve...  Barry Sonnenfeld  ...      99                            Comedy|Family|Adventure                                  Columbia Pictures   2006-04-28          5.7
714   tt1175491   25100000   29506464    4406464                                                 W.  Josh Brolin|Elizabeth Banks|Ellen Burstyn|Ioan...      Oliver Stone  ...     131                                      Drama|History  Ixtlan Productions|Emperor Motion Pictures|Glo...   2008-10-17          5.6
1172  tt0290334  110000000  214948780  104948780                                                 X2  Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...      Bryan Singer  ...     133          Adventure|Action|Science Fiction|Thriller  Twentieth Century Fox Film Corporation|Donners...   2003-04-24          6.7
1282  tt0453562   40000000   95020213   55020213                                                 42  Chadwick Boseman|T.R. Knight|Harrison Ford|Nic...   Brian Helgeland  ...     128                                              Drama                                       Warner Bros.   2013-04-12          6.8
252   tt0472033   30000000   48428063   18428063                                                  9  Elijah Wood|John C. Reilly|Jennifer Connelly|C...       Shane Acker  ...      79  Action|Adventure|Animation|Science Fiction|Thr...  Focus Films|Starz Animation|Relativity Media|T...   2009-08-19          6.5

     release_year  len_orig_title
1448         2006              83
1314         2005              62
219          2014              59
1751         2007              58
385          2010              56
...           ...             ...
1483         2006               2
714          2008               2
1172         2003               2
1282         2013               2
252          2009               1

[1889 rows x 16 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [52]:
answers['25'] = 'Paramount Pictures'

In [51]:
overview = movies_df['overview'].tolist()

len_overview = []
for i in overview:
    ll = len(i.split())
    len_overview.append(ll)

df = pd.DataFrame(len_overview, columns =['len_overview'])
movies_df = pd.concat([movies_df, df], axis=1)
print((movies_df.sort_values('len_overview', ascending=False)).head(10))

        imdb_id     budget    revenue     profit           original_title                                               cast                        director  ...                                     genres                               production_companies  release_date vote_average release_year len_orig_title  \
711   tt0805570   15000000    3533227  -11466773  The Midnight Meat Train  Bradley Cooper|Vinnie Jones|Brooke Shields|Les...                RyÃ»hei Kitamura  ...        Mystery|Drama|Crime|Thriller|Horror  Lions Gate Films|Lakeshore Entertainment|Green...    2008-08-07          5.7         2008             23
170   tt1267297  100000000  243400000  143400000                 Hercules  Dwayne Johnson|Ian McShane|John Hurt|Rufus Sew...                    Brett Ratner  ...                           Action|Adventure  Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|R...    2014-07-23          5.6         2014              8
964   tt0278295   14000000   25482931   11482931  All About the Benjamins  Ice Cube|Mike Epps|Tommy Flanagan|Carmen Chapl...                      Kevin Bray  ...                    Action|Adventure|Comedy                                    New Line Cinema    2002-03-08          6.4         2002             23
1373  tt0427944    6500000   24793509   18293509    Thank You for Smoking  Aaron Eckhart|Maria Bello|Cameron Bright|Adam ...                   Jason Reitman  ...                               Comedy|Drama      Fox Searchlight Pictures|Room 9 Entertainment    2005-09-05          7.1         2005             21
823   tt1637706   10000000   17273593    7273593        Our Idiot Brother  Paul Rudd|Elizabeth Banks|Zooey Deschanel|Emil...                    Jesse Peretz  ...                               Comedy|Drama                              The Weinstein Company    2011-08-26          5.7         2011             17
947   tt0265662   20000000   75597042   55597042               The Rookie  Dennis Quaid|Rachel Griffiths|Beth Grant|Angus...                John Lee Hancock  ...                               Drama|Family  Walt Disney Pictures|Gran Via Productions|98 M...    2002-03-25          6.0         2002             10
1086  tt0234215  150000000  738599701  588599701      The Matrix Reloaded  Keanu Reeves|Carrie-Anne Moss|Laurence Fishbur...  Lilly Wachowski|Lana Wachowski  ...  Adventure|Action|Thriller|Science Fiction  Village Roadshow Pictures|NPV Entertainment|He...    2003-05-15          6.6         2003             19
1112  tt0305224   75000000  195745823  120745823         Anger Management  Adam Sandler|Jack Nicholson|Luis GuzmÃ¡n|Maris...                     Peter Segal  ...                                     Comedy  Columbia Pictures|Revolution Studios|Happy Mad...    2003-04-11          5.9         2003             16
841   tt1596346   18000000   47088990   29088990              Soul Surfer  AnnaSophia Robb|Helen Hunt|Lorraine Nicholson|...                   Sean McNamara  ...                               Action|Drama  Mandalay Pictures|TriStar Pictures|Brookwell-M...    2011-04-08          6.9         2011             11
957   tt0275022   12000000   61141030   49141030               Crossroads  Britney Spears|Zoe Saldana|Taryn Manning|Anson...                     Tamra Davis  ...       Action|Adventure|Comedy|Drama|Family                       Paramount Pictures|MTV Films    2002-02-15          5.1         2002             10

      len_overview
711            175
170            169
964            166
1373           161
823            160
947            159
1086           159
1112           159
841            156
957            155

[10 rows x 17 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [53]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [54]:
qq = movies_df.vote_average.quantile(0.99)
print(movies_df[movies_df['vote_average'] >= qq],['profit'])

        imdb_id     budget     revenue      profit                                     original_title                                               cast                 director  ...                                             genres                               production_companies  release_date vote_average  \
9     tt2096673  175000000   853708609   678708609                                         Inside Out  Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...              Pete Docter  ...                            Comedy|Animation|Family  Walt Disney Pictures|Pixar Animation Studios|W...    2015-06-09          8.0
28    tt1895587   20000000    88346473    68346473                                          Spotlight  Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...             Tom McCarthy  ...                             Drama|Thriller|History  Participant Media|Open Road Films|Anonymous Co...    2015-11-06          7.8
34    tt3170832    6000000    35401758    29401758                                               Room  Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...         Lenny Abrahamson  ...                                     Drama|Thriller  Element Pictures|No Trace Camping|A24|Duperele...    2015-10-16          8.0
118   tt0816692  165000000   621752480   456752480                                       Interstellar  Matthew McConaughey|Jessica Chastain|Anne Hath...        Christopher Nolan  ...                    Adventure|Drama|Science Fiction  Paramount Pictures|Legendary Pictures|Warner B...    2014-11-05          8.0
119   tt2015381  170000000   773312399   603312399                            Guardians of the Galaxy  Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...               James Gunn  ...                   Action|Science Fiction|Adventure  Marvel Studios|Moving Picture Company (MPC)|Bu...    2014-07-30          7.9
124   tt2245084  165000000   652105443   487105443                                         Big Hero 6  Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...  Don Hall|Chris Williams  ...           Adventure|Family|Animation|Action|Comedy  Walt Disney Pictures|Walt Disney Animation Stu...    2014-10-24          7.8
125   tt2084970   14000000   233555708   219555708                                 The Imitation Game  Benedict Cumberbatch|Keira Knightley|Matthew G...            Morten Tyldum  ...                         History|Drama|Thriller|War             Black Bear Pictures|Bristol Automotive    2014-11-14          8.0
128   tt2267998   61000000   369330363   308330363                                          Gone Girl  Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...            David Fincher  ...                             Mystery|Thriller|Drama  Twentieth Century Fox Film Corporation|Regency...    2014-10-01          7.9
138   tt2278388   30000000   174600318   144600318                           The Grand Budapest Hotel  Ralph Fiennes|Tony Revolori|F. Murray Abraham|...             Wes Anderson  ...                                       Comedy|Drama  Fox Searchlight Pictures|Scott Rudin Productio...    2014-02-26          7.9
155   tt2980516   15000000   121201940   106201940                           The Theory of Everything  Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...              James Marsh  ...                                      Drama|Romance                                Working Title Films    2014-11-26          7.8
177   tt2582846   12000000   305151265   293151265                             The Fault in Our Stars  Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...               Josh Boone  ...                                      Romance|Drama  Fox 2000 Pictures|Temple Hill Entertainment|TS...    2014-05-16          7.8
283   tt0485947   47000000     3547209   -43452791                                         Mr. Nobody  Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...         Jaco Van Dormael  ...              Science Fiction|Drama|Romance|Fantasy           Pan EuropÃ©enne Production|Virtual Films    2009-09-11          7.8
316   tt1187043    9000000    70000000    61000000                                           3 Idiots  Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...          Rajkumar Hirani  ...                               Drama|Comedy|Romance                     Vidhu Vinod Chopra Productions    2009-12-23          7.8
370   tt1375666  160000000   825500000   665500000                                          Inception  Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...        Christopher Nolan  ...  Action|Thriller|Science Fiction|Mystery|Adventure            Legendary Pictures|Warner Bros.|Syncopy    2010-07-14          7.9
496   tt0120737   93000000   871368364   778368364  The Lord of the Rings: The Fellowship of the Ring  Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...            Peter Jackson  ...                           Adventure|Fantasy|Action  WingNut Films|New Line Cinema|The Saul Zaentz ...    2001-12-18          7.8
599   tt0468569  185000000  1001921825   816921825                                    The Dark Knight  Christian Bale|Michael Caine|Heath Ledger|Aaro...        Christopher Nolan  ...                        Drama|Action|Crime|Thriller  DC Comics|Legendary Pictures|Warner Bros.|Syncopy    2008-07-16          8.1
863   tt0167261   79000000   926287400   847287400              The Lord of the Rings: The Two Towers  Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...            Peter Jackson  ...                           Adventure|Fantasy|Action  WingNut Films|New Line Cinema|The Saul Zaentz ...    2002-12-18          7.8
872   tt0253474   35000000   120072577    85072577                                        The Pianist  Adrien Brody|Thomas Kretschmann|Frank Finlay|M...           Roman Polanski  ...                                          Drama|War  Bac Films|Canal+Polska|Heritage Films|Studio B...    2002-09-24          7.9
1081  tt0167260   94000000  1118888979  1024888979      The Lord of the Rings: The Return of the King  Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...            Peter Jackson  ...                           Adventure|Fantasy|Action                      WingNut Films|New Line Cinema    2003-12-01          7.9
1183  tt0993846  100000000   392000694   292000694                            The Wolf of Wall Street  Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...          Martin Scorsese  ...                                 Crime|Drama|Comedy  Paramount Pictures|Appian Way|EMJAG Production...    2013-12-25          7.9
1188  tt1798709   23000000    47351251    24351251                                                Her  Joaquin Phoenix|Scarlett Johansson|Rooney Mara...              Spike Jonze  ...                      Romance|Science Fiction|Drama                                 Annapurna Pictures    2013-12-18          7.8
1191  tt2024544   20000000   187000000   167000000                                   12 Years a Slave  Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...            Steve McQueen  ...                                      Drama|History  Plan B Entertainment|Regency Enterprises|River...    2013-10-18          7.9
1205  tt1392214   46000000   122126687    76126687                                          Prisoners  Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...         Denis Villeneuve  ...                               Drama|Thriller|Crime  Alcon Entertainment|Madhouse Entertainment|8:3...    2013-09-18          7.8
1213  tt0790636    5000000    55198285    50198285                                 Dallas Buyers Club  Matthew McConaughey|Jennifer Garner|Jared Leto...        Jean-Marc VallÃ©e  ...                                      Drama|History  Universal Studios|Universal Pictures|Voltage P...    2013-09-07          7.8
1444  tt0482571   40000000   109676311    69676311                                       The Prestige  Hugh Jackman|Christian Bale|Michael Caine|Scar...        Christopher Nolan  ...                             Drama|Mystery|Thriller                        Touchstone Pictures|Syncopy    2006-10-19          7.8
1563  tt0338013   20000000    72258126    52258126              Eternal Sunshine of the Spotless Mind  Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...            Michel Gondry  ...                      Science Fiction|Drama|Romance  Anonymous Content|This Is That Productions|Foc...    2004-03-19          7.8
1688  tt0469494   25000000    76181545    51181545                                There Will Be Blood  Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...     Paul Thomas Anderson  ...                                              Drama  Miramax Films|Ghoulardi Film Company|Paramount...    2007-12-28          7.8
1800  tt0209144    9000000    39723096    30723096                                            Memento  Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...        Christopher Nolan  ...                                   Mystery|Thriller  Summit Entertainment|Newmarket Capital Group|T...    2000-10-11          7.9

     release_year len_orig_title  len_overview
9            2015             10           112
28           2015              9            30
34           2015              4            49
118          2014             12            35
119          2014             23            28
124          2014             10            29
125          2014             18            46
128          2014              9            30
138          2014             24            66
155          2014             24            14
177          2014             22            47
283          2009             10            25
316          2009              8           103
370          2010              9            44
496          2001             49            63
599          2008             15            67
863          2002             37            41
872          2002             11            39
1081         2003             45            45
1183         2013             23            29
1188         2013              3            65
1191         2013             16            61
1205         2013              9            39
1213         2013             18            27
1444         2006             12            29
1563         2004             37            46
1688         2007             19           100
1800         2000              7            78

[28 rows x 17 columns] ['profit']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)